.draggable {
  cursor: move;
  user-select: none;
}

.placeholder {
  background-color: #edf2f7;
  border: 2px dashed #cbd5e0;
}

.clone-list {
  border-top: 1px solid #ccc;
}

.clone-table {
  border-collapse: collapse;
  border: none;
}

.clone-table th,
.clone-table td {
  border: 1px solid #ccc;
  border-top: none;
  padding: 0.5rem;
}

.clone-table td {
  font-size: 0.95em;
  font-weight: lighter;
  text-transform: capitalize;
  padding: 10px;
}

.dragging {
  border-top: 1px solid #ccc;
  z-index: 999;
}
