.pagination-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px;
}

#page,
#first,
#last {
  font-weight: bold;
  margin: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
}
