.resizer {
  position: absolute;
  top: 0;
  right: 0;
  width: 5px;
  cursor: col-resize;
  user-select: none;
}

.resizer:hover,
.resizing {
  border-right: 2px solid blue;
}

.resizable {
  border: 1px solid gray;
  height: 100px;
  width: 100px;
  position: relative;
}

.row-resizer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 5px;
  cursor: row-resize;
  user-select: none;
}
