@import './header.css';
@import './pagination.css';

.table-wrapper {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* flex-direction: column; */

  /* position: absolute; */
  /* top: 12%; */
  /* left: 20%; */
}

.table-wrapper.hide {
  display: none;
}

table {
  background-color: #fff;
  border: 1px solid #ccc;
  border-collapse: collapse;

  table-layout: fixed;
  width: 900px;

  text-align: center;
}

th,
td {
  padding: 0.5rem;
  border: 1px solid #ccc;
  overflow: hidden;
}

table th {
  font-weight: bold;
  text-align: center;
  position: sticky;
  top: 0;
  cursor: pointer;
  z-index: 2;
  background-color: #d7d9ec;

  min-width: 90px;
}

table th {
  position: sticky;
  top: 0;
  cursor: pointer;
  z-index: 2;
  background-color: #d7d9ec;
}

tbody td {
  font-size: 0.95em;
  font-weight: lighter;
  text-transform: capitalize;
  padding: 10px;
}

tbody tr:nth-child(even) {
  background-color: #f7f7f7;
}

tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

.draggable {
  cursor: move;
  user-select: none;
}

.placeholder {
  background-color: #edf2f7;
  border: 2px dashed #cbd5e0;
}

.clone-list {
  border-top: 1px solid #ccc;
}

.clone-table {
  border-collapse: collapse;
  border: none;
  /* background-color: #fff; */
}

.clone-table th,
.clone-table td {
  border: 1px solid #ccc;
  border-top: none;
  padding: 0.5rem;
}

.clone-table td {
  font-size: 0.95em;
  font-weight: lighter;
  text-transform: capitalize;
  padding: 10px;
}

.dragging {
  border-top: 1px solid #ccc;
  z-index: 999;
}

table button:hover {
  transform: none;
}

thead span {
  user-select: none;
}
