@import './header.css';
@import './pagination.css';

.table-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  position: absolute;
  top: 12%;
  left: 20%;
}

.table-wrapper.hide {
  display: none;
}

table {
  background-color: #fff;

  border-style: solid;
  border-color: rgb(194, 217, 224);
  border-collapse: collapse;

  min-width: 60vw;

  text-justify: center;
}

table.hide {
  display: none;
}

table th {
  font-weight: bold;
  text-align: center;
}

thead th {
  position: sticky;
  top: 0;
  cursor: pointer;
  z-index: 2;
  background-color: #d2d3db;
}

.draggable-table {
  /* position: absolute;
  top: 27%;
  left: 20%; */
  width: 60%;
  height: 50%;
  border-collapse: collapse;
  background: white;
  -webkit-box-shadow: 0px 0px 10px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px 8px rgba(0, 0, 0, 0.1);
}

.draggable-table .draggable-table__drag {
  font-size: 0.95em;
  font-weight: lighter;
  text-transform: capitalize;
  position: absolute;
  width: 100%;
  text-indent: 50px;
  border: 1px solid #f1f1f1;
  z-index: 10;
  cursor: grabbing;
  -webkit-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.05);

  opacity: 1;
}

.draggable-table thead th {
  height: 25px;
  font-weight: bold;
  text-transform: capitalize;
  padding: 10px;
  user-select: none;
}

.draggable-table tbody tr {
  cursor: grabbing;
}

.draggable-table tbody td {
  font-size: 0.95em;
  font-weight: lighter;
  text-transform: capitalize;
  /* text-indent: 50px; */
  padding: 10px;
  user-select: none;
  border-top: 1px solid whitesmoke;
  text-align: center;
  /* display: flex; */
  justify-content: center;
}

.draggable-table tbody tr:nth-child(even) {
  background-color: #f7f7f7;
}

.draggable-table tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

.draggable-table tbody tr.is-dragging {
  background: #e2dfd3;
}
.draggable-table tbody tr.is-dragging td {
  color: #b1ac9b;
}

tr:hover {
  color: rgba(4, 42, 51, 0.4);
  box-shadow: 0px 15px 20px rgba(31, 18, 148, 0.4);
}
