.empty > {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.empty.hide {
  display: none;
}

.empty__header {
  font-size: 3.5em;
  font-weight: bold;
  margin-top: 20%;
}

.empty__load-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10%;
}
