.header-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 18px;
}

.header {
  font-size: 3em;
  font-weight: bold;
}

.header span {
  color: #007bff;
  text-transform: capitalize;
}
